@font-face {
   font-family: paperdaisy;
    src: url("../fonts/paperdaisy.ttf");
}

@font-face {
   font-family: dreams;
    src: url("../fonts/dreams.ttf");
}
@font-face {
    font-family: champagne;
    src: url("../fonts/champagne.ttf");
}
@font-face {
    font-family: prisma;
    src: url("../fonts/Prisma.ttf");
}
@font-face {
    font-family: carrot;
    src: url("../fonts/DK Carrot Juice.otf");
    }
		img{
			position: absolute;
		}
		#img{
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;
		}

		#yellow{
            margin-left: 45.2%;
            margin-top: 42.5%;
            height:100px;
            position: absolute;
            cursor: pointer;
        }


		#gif{
			margin-left: 43%;
            margin-top: 7.7%;
			height: 200px;
			-webkit-animation: rotation 3s infinite linear;
		}


		@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
		.button {
			position: absolute;
	top: 76%;
	left: 62%;
	color: #ffffffff;
	font-family: paperdaisy;
	font-size: 45px;
}

		body{
			margin: 0;
			padding: 0;
		}

        /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .error {
      color:white;
      float: right;}

    /* Set a style for all buttons */
    button,#g {
        font-family: dreams;
        font-size: initial;
        background-color:black;
        color: white;
        padding: 14px 20px;
        margin: 8px 0px;
        border: none;
        cursor: pointer;
        width: 50%;
      text-align:center;
      border:1px solid #1e2c1c;
    }

    button:hover,#g:hover {
      background-color:#1e2c1c;
        opacity: 0.9;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 14px 50px;
        background-color: black;
    }

    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    img.avatar {
        width: 20%;
        border-radius: 20%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }
    .h2 {
        font-family: carrot;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 24px;
        top: 208px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
        padding-top: 60px;
    }

		.modalin {
			display: none;
			position: fixed;
z-index: 1;
left: 23px;
top: 0px;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.1);
padding-top: 60px;
		}

    /* Modal Content/Box */
    .modal-content {
        background-color: #6b1d17;
        margin:auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 40%; /* Could be more or less, depending on screen size */
      color:white;
    }

    .modal-content-main {
        background-color: #6b1d17;
        margin:auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 40%; /* Could be more or less, depending on screen size */
      color:white;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color:black;
        font-size: 35px;
        font-weight: bold;
    }
	.close1 {
    //position: absolute;
	float:right;
  margin-right: 10px;
    top: 0;
    color:black;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus,.close1:hover,.close1:focus {
        color: #1e2c1c;
        cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    }

    label{
      font-family: dreams;
			color: goldenrod;
    }


